@model LootXApp.Models.Inventory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryPic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryPic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InventoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
